<!--"CONVERTED_APPLET"-->
<!-- CONVERTER VERSION 1.0 -->
<OBJECT classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
WIDTH = 300 HEIGHT = 75  codebase="http://java.sun.com/products/plugin/1.2/jinstall-12-win32.cab#Version=1,2,0,0">
<PARAM NAME = CODE VALUE = "SiteSelector.class" >

<PARAM NAME="type" VALUE="application/x-java-applet;version=1.2">
<PARAM NAME = "title0" VALUE ="Java Home Page">
<PARAM NAME = "location0" VALUE ="http://java.sun.com/">
<PARAM NAME = "title1" VALUE ="Deitel">
<PARAM NAME = "location1" VALUE ="http://www.deitel.com/">
<PARAM NAME = "title2" VALUE ="Gamelan">
<PARAM NAME = "location2" VALUE ="http://www.gamelan.com/">
<PARAM NAME = "title3" VALUE ="JavaWorld">
<PARAM NAME = "location3" VALUE ="http://www.javaworld.com/">
<COMMENT>
<EMBED type="application/x-java-applet;version=1.2" java_CODE = "SiteSelector.class" WIDTH = 300 HEIGHT = 75  title0 = "Java Home Page" location0 = "http://java.sun.com/" title1 = "Deitel" location1 = "http://www.deitel.com/" title2 = "Gamelan" location2 = "http://www.gamelan.com/" title3 = "JavaWorld" location3 = "http://www.javaworld.com/"  pluginspage="http://java.sun.com/products/plugin/1.2/plugin-install.html"><NOEMBED></COMMENT>

</NOEMBED></EMBED>
</OBJECT>

<!--
<APPLET  CODE = "SiteSelector.class" WIDTH = 300 HEIGHT = 75 >
<PARAM NAME = "title0" VALUE ="Java Home Page">
<PARAM NAME = "location0" VALUE ="http://java.sun.com/">
<PARAM NAME = "title1" VALUE ="Deitel">
<PARAM NAME = "location1" VALUE ="http://www.deitel.com/">
<PARAM NAME = "title2" VALUE ="Gamelan">
<PARAM NAME = "location2" VALUE ="http://www.gamelan.com/">
<PARAM NAME = "title3" VALUE ="JavaWorld">
<PARAM NAME = "location3" VALUE ="http://www.javaworld.com/">


</APPLET>
-->
<!--"END_CONVERTED_APPLET"-->

